<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Braindump</h2>
    <p class="text-center">
    <small>Just put everything you have to do here, and we'll help you get it done.</small>
    </p>

    <form {{action "addTask" on="submit"}} class="form-horizontal">
      <div class="form-group">
        {{focus-input value=newTaskTitle class="form-control" placeholder='Task...'}}
      </div>
      <button type="submit" class="btn btn-default center-block">add it</button>
    </form>
  </div>

  <div class="row messy-stack">
    {{#each sortedModel as |task index|}}
      {{#unless task.refined}}
        <div class="task-card well clickable col-md-6 col-md-offset-3" style="z-index: {{math 1000 "-" index}}" {{action "refineWith" task}}>
          {{task.title}}
        </div>
      {{/unless}}
    {{/each}}
  </div>
</div>
