{{#ember-wormhole to="deck-picker"}}
  {{deck-picker data=decks activeDeck=activeDeck setActiveDeck=(action "setActiveDeck")}}
{{/ember-wormhole}}

<div class="container">
  {{cartoon-modal kind="execute" help=session.currentUser.show_help_execute}}

  {{progress-bar tasks=filteredTasks}}

  <div>
    {{#each filteredTasks as |task|}}
      {{#liquid-if (await task.readyToExecute) class="task-animation"}}
        {{#unless task.isCompleted}}
          {{#if task.hasAfters}}
            <div class="shadow-stack well"></div>
            <div class="shadow-stack well"></div>
            <div class="shadow-stack well"></div>
            <div class="shadow-stack well"></div>
          {{/if}}
        {{/unless}}
        <div class="task-card well clickable {{if task.focused 'focused'}} {{if task.pendingCompletion 'completed'}}" {{action "focusTask" task on="click"}} data-task-id="{{task.id}}">
          <div class="actions btn-group">
            <button class="btn btn-default" disabled={{task.isCompleted}} {{action 'complete' task bubbles=false}} aria-label="complete">
              complete
            </button>
          </div>
          {{task.title}}
          {{#if task.focused}}
            {{#if task.details}}
              <hr>
              <div>
                {{markdown-to-html task.details}}
              </div>
            {{/if}}
          {{/if}}
        </div>
      {{/liquid-if}}
    {{/each}}
  </div>
</div>

{{add-task-modal}}
