<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Execute</h2>
    <p class="text-center">
      <small>Do whatever you can off the top of your list.</small>
    </p>
  </div>

  <div>
    {{#each model as |task|}}
      {{#liquid-if (await task.readyToExecute) class="task-animation"}}
        {{#unless task.completed}}
          {{#if task.hasAfters}}
            <div class="shadow-stack well"></div>
            <div class="shadow-stack well"></div>
            <div class="shadow-stack well"></div>
            <div class="shadow-stack well"></div>
          {{/if}}
        {{/unless}}
        <div class="task-card well clickable {{if task.focused 'focused'}}" {{action "focusTask" task on="click"}}>
          <div class="actions btn-group">
            <button class="btn btn-default" disabled={{task.completed}} {{action 'complete' task}} aria-label="complete">
              complete
            </button>
          </div>
          {{task.title}}
          {{#if task.focused}}
            <div>
              <small>
                {{task.details}}
              </small>
            </div>
          {{/if}}
        </div>
      {{/liquid-if}}
    {{/each}}
  </div>
</div>

{{add-task-modal store=store}}
