<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Refine</h2>
    <p class="text-center">
      <small>Clarify and organize what you have to do. If it's quick, do it now.</small>
    </p>
  </div>

  {{#if showTimer}}
    {{countdown-timer duration=300 timerDone=(action 'timerDone') task=activeTask}}
  {{/if}}

  {{#if activeTask}}
    <div class="action-area well">
      <div class="task-card well">
        <div class="actions btn-group">
          <button class="btn btn-default" disabled={{showTimer}} {{action 'do' activeTask}} aria-label="do">
            do
          </button>
          <button class="btn btn-default" disabled={{showTimer}} {{action 'defer' activeTask}} aria-label="defer">
            defer
          </button>
          <button class="btn btn-default" disabled={{showTimer}} {{action 'destroy' activeTask}} aria-label="destroy">
            destroy
          </button>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Change deck
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {{#each model.decks as |deck|}}
                <li><a class="clickable" {{action "changeDeck" activeTask deck}}>{{deck.title}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
        {{activeTask.title}}
        {{textarea value=activeTask.details class="form-control" rows=3 placeholder="Details..." focus-out="saveDetails"}}
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class="messy-stack col-md-6 col-md-offset-3">
      {{#each inactiveTasks as |task index|}}
        <div class="task-card well clickable" style="z-index: {{math 1000 "-" index}}" {{action "makeActive" task on="click"}}>
          {{task.title}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{add-task-modal store=store}}
