<div class="container">
  {{cartoon-modal kind="refine" help=session.currentUser.show_help_refine}}

  {{#if showTimer}}
    {{countdown-timer duration=300 timerDone=(action 'timerDone') task=activeTask done=(action 'done') defer=(action 'defer')}}
  {{/if}}

  {{#if activeTask}}
    <div class="action-area well">
      <div class="task-card well">
        <div class="row">
          <div class="actions btn-group">
            <button class="btn btn-default" disabled={{showTimer}} {{action 'do' activeTask}} aria-label="do">
              do now
            </button>
            <button class="btn btn-default" disabled={{showTimer}} {{action 'defer' activeTask}} aria-label="defer">
              do later
            </button>
            <button class="btn btn-default" disabled={{showTimer}} {{action 'destroy' activeTask}} aria-label="destroy">
              destroy
            </button>
          </div>
          <div class="col-md-6">
            {{ember-inline-edit value=activeTask.title onSave="saveTitle" saveLabel='✓'}}
          </div>
        </div>
        {{textarea value=activeTask.details class="form-control" rows=3 placeholder="Details..." focus-out="saveDetails"}}
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class="messy-stack col-md-6 col-md-offset-3">
      {{#each inactiveTasks as |task index|}}
        {{task-card task=task index=index action=(action "makeActive")}}
      {{/each}}
    </div>
  </div>
</div>

{{add-task-modal}}
