{{#ember-wormhole to="deck-picker"}}
  {{deck-picker data=decks}}
{{/ember-wormhole}}

<div class="container">
  {{cartoon-modal kind="review" help=session.currentUser.show_help_review}}

  {{#if (eq countData 0) }}
  <div class='row'>
    <div class='col-md-12 text-center'>
      <p>When you have finished tasks recently, a barchart will appear here!</p>
    </div>
  </div>
  {{else}}
  <div class='row'>
    <div class='col-md-12'>
      <div class="chart-container">
        {{vertical-bar-chart data=countData}}
      </div>
    </div>
  </div>
  {{/if}}

</div>

{{add-task-modal}}
