{{#ember-wormhole to="deck-picker"}}
  {{deck-picker data=decks store=store activeDeck=activeDeck setActiveDeck=(action "setActiveDeck")}}
{{/ember-wormhole}}

<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Review</h2>
    <p class="text-center">
      <small>Have you gotten done what you wanted to get done? Congratulations!</small>
    </p>
  </div>

  <div>
    {{#each filteredTasks as |task|}}
      {{#if task.isReviewable}}
        <div class="task-card well clickable {{if task.focused 'focused'}}" {{action "focusTask" task on="click"}}>
          <div class="actions btn-group">
            <button class="btn btn-default" {{action 'approve' task}} aria-label="approve">
              approve
            </button>
            <button class="btn btn-default" {{action 'reject' task}} aria-label="reject">
              reject
            </button>
          </div>
          {{task.title}}
          {{#if task.focused}}
            {{#if task.details}}
              <hr>
              <div>
                {{markdown-to-html task.details}}
              </div>
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="chart-container">
       {{vertical-bar-chart data=countData}}
      </div>
    </div>
  </div>
</div>

{{add-task-modal store=store}}
