<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Review</h2>
    <p class="text-center">
      <small>Have you gotten done what you wanted to get done? Congratulations!</small>
    </p>
  </div>

  <div>
    {{#each model as |task|}}
      {{#if task.isCompleted}}
        <div class="task-card well clickable {{if task.focused 'focused'}}" {{action "focusTask" task on="click"}}>
          <div class="actions btn-group">
            <button class="btn btn-default" {{action 'reject' task}} aria-label="reject">
              reject
            </button>
          </div>
          {{task.title}}
          {{#if task.focused}}
            <hr>
            <div>
              {{markdown-to-html task.details}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{add-task-modal store=store}}
